body {
  background: linear-gradient(to bottom, #000000, #505050);
}

.homePageContainer {
  @apply h-screen w-[calc(100vw-17px)] overflow-x-hidden;
}

.aboutMeContainer {
  @apply h-screen w-[calc(100vw-17px)] overflow-x-hidden;
}

.projectsContainer {
  @apply flex items-center justify-center h-screen w-[calc(100vw-17px)] overflow-x-hidden;
}

.contactMeContainer {
  @apply flex items-center justify-center h-screen w-[calc(100vw-17px)] overflow-x-hidden;
}

.navBar {
  @apply flex items-center w-[calc(100vw-17px)] h-12 gap-9 ml-10 pt-5;
}

.navBar span {
  @apply font-inter text-xl;
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.navBar span:hover {
  @apply cursor-pointer;
  background-position: 100% 100%;
  background-size: 100% 2px;
}

.navBar p {
  @apply text-lg text-white font-inter font-normal ml-10 transition-colors;
}

.navBar p:hover {
  @apply text-gray-400 transition-colors cursor-pointer;
}

.homePageIntro {
  @apply flex flex-col h-[calc(100vh-48px)] justify-center items-center;
}

.homePageIntro h1 {
  animation: fadeInRight 1s;
}

.homePageIntro p {
  animation: fadeInRight 1s;
  animation-delay: 0.20s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.homePageIntro h1 {
  @apply flex justify-center font-inter font-bold text-9xl;
}

.homePageIntro p {
  @apply flex justify-center mt-5 font-light font-inter;
}

.homePageIntroContainer {
  @apply p-20 relative;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  z-index: 1;
}

.homeGlowWrapper {
  position: relative;
}

.homeGlow::before,
.homeGlow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.homeGlow::after {
  filter: blur(25px);
}

.fade-in {
  animation: fadeIn 1s;
}

.homePageButtons {
  @apply flex gap-8 justify-center mt-8;
  animation: fadeInRight 1s;
  animation-delay: 0.40s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.gitHubButton {
  @apply w-8 h-8;
  transition: transform 0.3s ease;
}

.gitHubButton:hover {
  @apply cursor-pointer;
  transform: translateY(-5px);
}

.linkedInButton {
  @apply w-10 h-8;
  transition: transform 0.3s ease;
}

.linkedInButton:hover {
  @apply cursor-pointer;
  transform: translateY(-5px);
}
.scrollDownImage {
  @apply animate-bounce bg-white dark:bg-slate-800 p-2 w-10 h-10 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full absolute bottom-0 mb-10;
}

.scrollDownImageSVG {
  @apply w-6 h-6 text-violet-500 fill-none stroke-2 stroke-violet-500;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.scrollDownImage:hover {
  @apply cursor-pointer;
}

.scrollForMore {
  @apply absolute bottom-0 mb-2;
}

.aboutMeInfo {
  @apply hidden;
}

.aboutMeInfoContainer {
  @apply flex flex-col p-20 relative;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  z-index: 1;
}

.aboutMeGlowWrapper {
  position: relative;
}

.aboutMeGlow::before,
.aboutMeGlow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #ffcccc, #ffcc99, #ffcc66, #ffcc33, #ffcc00, #ffff00, #ccffcc, #99ff99, #66ff66);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.aboutMeGlow::after {
  filter: blur(25px);
}

.aboutMeInfoAnimate {
  @apply flex flex-col h-screen justify-center items-center;
}

.aboutMeInfoAnimate h1 {
  @apply font-inter font-bold text-8xl ml-auto;
  animation: fadeInLeft 1s;
}

.aboutMeInfoAnimate p{
  @apply w-700 mt-12 font-inter font-light text-center mr-56;
  animation: fadeInRight 1s;
  animation-delay: 0.30s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animateDown {
  @apply w-72 flex flex-col justify-center items-center;
  animation: fadeInDown 1s;
  animation-delay: 1.5s;
}

.projectsInfo {
  @apply hidden;
}

.projectsInfoAnimate h1 {
  @apply font-inter font-bold text-8xl text-center;
  animation: fadeInDown2 1s;
}

.cardCarouselContainer {
  @apply flex justify-center items-center h-450 w-[calc(100vw-400px)] overflow-x-auto;
  animation: fadeInDown2 1s;
  animation-delay: 0.30s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.cardCarousel {
  @apply flex justify-center items-center h-full gap-12;
  width: 100%;
}

.cardContainer {
  @apply h-400 w-250 border-2 border-black rounded-3xl bg-gray-300 shadow-lg;
  transition: transform 0.3s;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  transform: scale(1);
}

.cardContainer:hover {
  @apply cursor-pointer;
  transition: transform 0.3s;
  transform: scale(1.05);
}
.cardContainer img {
  @apply w-full h-3/5 object-cover rounded-t-3xl border-b border-black;
}

.cardContainer h2 {
  @apply flex justify-center font-inter font-bold text-black text-xl;
}

.cardContainer p {
  @apply pl-2 pr-2 flex justify-center text-center font-inter font-light text-black text-xs;
}

.cardImage {
  transition: all 0.3s ease-in-out;
}

.projectsInfoContainer {
  @apply p-10 relative;
  background: linear-gradient(0deg, black, rgb(44,43,43));
}

.projectsGlowWrapper {
  position: relative;
}

.projectsGlow::before,
.projectsGlow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #000033, #000066, #000099, #0000cc, #0000ff, #3366ff, #6699ff, #99ccff, #ccffff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.projectsGlow::after {
  filter: blur(25px);
}

.contactMeInfo {
  @apply hidden;
}

.contactMeInfoAnimate {
  @apply flex flex-col h-screen justify-center items-center;
}

.contactMeInfoContainer {
  @apply flex p-20 relative;
  background: linear-gradient(0deg, black, rgb(44, 43, 43));
  z-index: 1;
}

.contactMeHeader {
  @apply flex flex-col items-center justify-center pr-10;
}

.contactMeHeader h1 {
  @apply font-inter font-bold text-6xl text-center;
  animation: fadeInDown2 1s;
}

.contactMeHeader p {
  @apply text-center font-inter font-light text-lg mt-10;
  animation: fadeInDown2 1s;
}

.contactMeGlowWrapper {
  position: relative;
}

.contactMeGlow::before,
.contactMeGlow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.contactMeGlow::after {
  filter: blur(25px);
}

.contactForm {
  @apply flex flex-col items-center justify-center;
}

.contactForm label {
  @apply font-inter;
}

.contactForm input {
  @apply mb-10 h-12 rounded-3xl pl-4 w-700 font-inter;
}

.contactForm textarea {
  @apply rounded-3xl pl-4 pt-2 w-700;
}

.emailInput {
  @apply flex flex-col;
  animation: fadeInLeft 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nameInput {
  @apply flex flex-col;
  animation: fadeInLeft 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.messageInput {
  @apply flex flex-col;
  animation: fadeInLeft 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.messageInput textarea {
  @apply h-36 whitespace-normal resize-y;
  word-wrap: break-word;
}

.contactForm label {
  @apply ml-4;
}

.contactForm button {
  @apply w-40 mt-10 bg-gray-600;
  transition: background-color 0.3s ease;
  animation: fadeInUp 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1.5s;
  outline: none;
}

.contactForm button:hover {
  @apply bg-gray-500;
  transition: background-color 0.3s ease;
  outline: none;
}

.contactForm button:active {
  @apply bg-gray-900;
  transition: background-color 0.3s ease;
  outline: none;
}

footer {
  @apply flex flex-col justify-center items-center h-40 bg-black;
}

.footerNavBar {
  @apply flex gap-9;
}

.footerNavBar span {
  @apply font-inter text-xl;
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#fff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.footerNavBar span:hover {
  @apply cursor-pointer;
  background-position: 100% 100%;
  background-size: 100% 2px;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% { 
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1; 
    transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% { 
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1; 
    transform: translateX(0px);
  }
}

@keyframes fadeInDown2 {
  0% { 
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1; 
    transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  0% { 
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    position: absolute;
    bottom: 0;
    opacity: 1; 
    transform: translateY(0px);
  }
}

@keyframes fadeInUp {
  0% { 
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1; 
    transform: translateY(0px);
  }
}